<div class = "alert alert-block alert-info">

## DATA 601 - FALL 2025
### HOMEWORK ASSIGNMENT 4
### NAME: **LAURA HAHN**
### DATE: 10/13/2025

</div>

# Dataset Source: 

This HW will use the Titanic dataset which is a common dataset used in data science. Please use the file "titanic.csv" in the input_data folder.

Citation:

The original Titanic dataset, describing the survival status of individual passengers on the Titanic. The titanic data does not contain information from the crew, but it does contain actual ages of half of the passengers. The principal source for data about Titanic passengers is the Encyclopedia Titanica. The datasets used here were begun by a variety of researchers. One of the original sources is Eaton & Haas (1994) Titanic: Triumph and Tragedy, Patrick Stephens Ltd, which includes a passenger list created by many researchers and edited by Michael A. Findlay.

Thomas Cason of UVa has greatly updated and improved the titanic data frame using the Encyclopedia Titanica and created the dataset here. Some duplicate passengers have been dropped, many errors corrected, many missing ages filled in, and new variables created.

Attribute information
The variables on our extracted dataset are pclass, survived, name, age, embarked, home.dest, room, ticket, boat, and sex. pclass refers to passenger class (1st, 2nd, 3rd), and is a proxy for socio-economic class. Age is in years, and some infants had fractional values. The titanic2 data frame has no missing data and includes records for the crew, but age is dichotomized at adult vs. child. These data were obtained from Robert Dawson, Saint Mary's University, E-mail. The variables are pclass, age, sex, survived. These data frames are useful for demonstrating many of the functions in Hmisc as well as demonstrating binary logistic regression analysis using the Design library. For more details and references see Simonoff, Jeffrey S (1997): The "unusual episode" and a second statistics course. J Statistics Education, Vol. 5 No. 1.

For more information about how this dataset was constructed: http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3info.txt

Other Titanic Dataset Information Sources:
- https://www.openml.org/search?type=data&sort=runs&id=40945&status=active
- https://www.kaggle.com/competitions/titanic/data?select=gender_submission.csv

# Homework Questions:

#### Question 1 (3 points): Load file and name it "df_titanic_1".

In [ ]:
import pandas as pd
titanic = pd.read_csv('./input_data/titanic.csv') #Importing data using read_csv() function
df_titanic_1 = pd.DataFrame(titanic) #Creating data frame from imported data

#### Question 2 (3 points): Provide a sample of the dataframe (i.e., the output should be at least 5 rows of data with the columns).

In [ ]:
df_titanic_1 #Python will not display the whole data frame, but just a sample of the head and tail

#### Question 3 (4 points): Calculate number of rows and of columns.

In [ ]:
num1 = len(df_titanic_1.columns) #Using len() function to count the number of columns and rows
print('Number of columns:', num1)
num2 = len(df_titanic_1.index)
print('Number of rows:', num2)

#### Question 4 (3 points): Show the datatypes of each column.

In [ ]:
df_titanic_1.dtypes #Using dtypes() function to display data types

#### Question 5 (3 points): Provide some discussion and thoughts on the column cabin. Does it provide any useful information? Should it be removed? Should it be kept? 
*Note: Question 6 is irrelevant to this question.

In [ ]:
#It depends on the question that needs to be answered using the data. 
#For example, if I wanted to use the data to determine whether cabin location correlated with survival, it would be necessary to keep the cabin column.

#### Question 6 (3 points): Remove Colum "cabin" from df_titanic_1.

In [ ]:
df_titanic_nocabin = df_titanic_1.drop('Cabin', axis = 1) #Using drop() function in pandas to remove 1 column
df_titanic_nocabin

#### Question 7 (3 points): Create a dataframe called df_passenger_info whcih includes columns "passenger", "name", "sex", and "age".

In [ ]:
df_passenger_info = df_titanic_1.iloc[:,[0,3,4,5]] #Selecting items in the dataframe using iloc() function
df_passenger_info

#### Question 8 (3 points): Convert the df_passenger_info to a dictionary.

In [ ]:
titanic_dictionary = df_passenger_info.to_dict(orient = 'list') #Using to_dict() function to convert to dictionary, choosing orientation as list
titanic_dictionary

#### Question 9 (5 points): Create a dataframe called "df_titanic_2" that is filtering for passengers that paid a fare higher than 10 AND have an age less than 50.

In [ ]:
df_titanic_2 = df_titanic_1[(df_titanic_1['Fare'] > 10) & (df_titanic_1['Age'] < 50)]
df_titanic_2

#### Question 10 (5 points): Sort df_titanic_2 by 'age' column in ascending order.

In [ ]:
df_titanic_2.sort_values(by='Age') #Using the sort_values() function to sort the column, ascending order by default

#### Question 11 (5 points): Export the "df_titanic_2" as a csv and put in output_data folder

In [ ]:
df_titanic_2.to_csv('./output_data/df_titanic_2.csv')

#### Question 12 (5 points): Export the "df_passenger_info" as a JSON put in output_data folder

In [ ]:
df_passenger_info.to_json('./output_data/df_passenger_info.json')

# NOTEBOOK END